@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body >  main{
    padding: 0px 20px;
}

.dark {
    background-color: #000;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #b142ec;
    ;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #4500CA;
}

.navbar {
    z-index: 100;
    position: fixed;
    width: 100%;
    color: white;
    padding: 32px;
    transition: all 0.2s;
    box-sizing: border-box;
    overflow-x: scroll;
}

.dark .navbar {
    color: white
}

.navbar::-webkit-scrollbar {
    width: 10px;
}

.navbar::-webkit-scrollbar-thumb {
    background: #b142ec;
    ;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #4500CA;
}

.navbar .menu-content .logo{
    height: 50px;
    width: 50px;
    display: none;
}
.scroll .menu-content .logo{
    display: block;
}
.navbar .menu-content .app-title {
    display: none;
    font-size: 30px;
    gap: 20px;
    align-items: center;
    vertical-align: middle;
}


.scroll {
    background-color: white;
    color: black;
    padding: 16px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.dark .scroll {
    background-color: black;
    color: white;
}

.navbar .menu-content {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;

}

.navbar .menu-items {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    column-gap: 10px;
    justify-content: center;
    color: inherit;
}

.navbar .menu-items a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
    color: inherit;
    font-weight: 600;
    font-size: 14px;
}

.dark .navbar .menu-items a {
    color: wheat;
}

.scroll .menu-items a {
    color: black;
    display: inline;
}

.navbar .menu-items a:hover,
.active {
    color: #ff25ab;
    border-bottom: 2px solid #ff25ab;

}

.container {
    margin: auto !important;

}

.newsletter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.newsletter .text h2{
    font-size: 40px;
}
.newsletter .text p{
    color: #4c4c4c;
    font-size: 20px;
}
.newsletter form{
    box-shadow: 5px 10px 30px rgba(0,0,0,0.2);
    border-radius: 25px;
    overflow: hidden;
    width: fit-content;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.newsletter form input{
    border: none;
    outline: none;
    margin: 15px 0px;
    height: 30px;
    margin-left: 16px;
}
.newsletter form button{
    height: 100%;
    /* border:2px solid #4400c9; */
    border: none;
    background-image: linear-gradient(to right, #4400c9, #b442f7);
    /* background-color: #4400c9; */
    color: #fff;
    border-radius: 25px;
    padding: 0px 20px;
    font-size: 20px;
    /* transition: all 0.4s; */
    position: relative;
    overflow: hidden;
}
.newsletter form button::after{
    content: "GO Ahead";
    position: absolute;
    left: -100%;
    top:0;
    height: 100%;
    width: 100%;
    transition: left 0.4s ease;
    background-image:linear-gradient(to right,#b442f7, #4400c9);
    color: #fff;
    /* color: #4400c9; */
    box-sizing: border-box;
    font-size: 18px;
    padding: 15px 0px;
    font-weight: bold;
}
/* .newsletter form button:hover{
    background-color: #fff;
    color: #4400c9;
} */
.newsletter form button:hover::after{
    left: 0%;
}




/* body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px !important;
    margin: auto;
}

.row {
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none;
}

footer {
    background: linear-gradient(to right, #00093c, #2d0b00);
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}


.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: black;
    transition: all 0.3s ease;
}

.footer-col ul li a {
    color: #ffffff;
    padding-left: 10px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.copyright {
    text-align: center;
    color: #bbbbbb;
    font-size: 10px;
    margin-top: 50px;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100% !important;
        margin: 0px 16px;
    }

}

@media only screen and (min-width: 600px) {
    .container {
        max-width: 750px !important;
    }

    .footer-col {
        width: 100%;
    }

    .navbar .menu-content .app-title {
        display: flex;
    }

    .navbar .menu-items {
        column-gap: 50px;
    }

}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 800px !important;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        max-width: 70% !important;
    }


}