header {
    background-image: url("../images/gallerybg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
    /* display: grid; */
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 50px;
}

header .summary {
    max-width: 100%;
    text-align: center;
    margin: auto;
    color: #fff;
    padding: 80px 66px;
    border-radius: 40px;
    box-shadow: 10px 5px 30px rgba(0, 0, 0, .3);
    backdrop-filter: blur(6px);
}

header .summary h1 {
    font-size: 50px;
    text-decoration: overline #4400c9;
}

header .summary p {
    font-size: 20px;
    border-bottom: 5px solid #4400c9;
    padding-bottom: 40px;
}

.gallery {

    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;

}

.gallery .items {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.items img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 8px;
}

main h2 {
    margin: 20px 0px;
    border-left: 5px solid green;
    padding: 5px 10px;
}
main h2 a{
    text-decoration: none;
    color: #000;
}

.gallery .item {
    border-radius: 14px;
    transition: 0.4s;
}

.gallery .item img {
    width: 100%;
    /* height: 100%; */
}


@media only screen and (max-width: 600px) {
    .gallery .items {
        flex: 100%;
        max-width: 100%;
    }

}
@media only screen and (min-width: 500px) {
    .gallery .items {
        flex: 50%;
        max-width: 50%;
    }

}
@media only screen and (min-width: 600px) {
    header .summary {
        width: 80%;
    }


}
@media only screen and (min-width: 800px) {

    .gallery .items {
        flex: 25%;
        max-width: 25%;
    }
    header .summary {
        width: 60%;
    }

}