/* *{
    margin:0;
    padding:0;
} */

header button {
  position: absolute;
  top: 60%;
  left: 10%;
}

body header video {
  height: auto;
  width: 100vw;
}

input,
button {
  height: 24px;
  border: 1px solid black;
  color: #000;
  border-radius: 5px;
  outline: none;
  padding: 4px;
}

button {
  height: 32px
}

input,
button {
  color: black;
}

.projects {
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
}
section header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section header h2 {
  margin: 20px 0px;
  border-left: 5px solid green;
  padding: 5px 10px;
}
section header a {
  font-size: 20px;
  font-weight: bold;
  color: rgb(75, 116, 228);
  text-decoration: none;
}

.projects .item {
  border-radius: 14px;
  overflow: hidden;
  transition: 0.4s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #5b5b5e;
  text-overflow: ellipsis;
}
.projects .item img{
  width: 100%;
  height: 200px;
}

.projects .item .content {
  padding: 8px 16px;
}

.projects .item .content h2 {
  padding: 0px;
  padding-bottom: 8px;
  margin: 0px;
  /* text-decoration: underline #4400c9; */
}

.projects .item .content .details {
  height: 7.7em;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.projects .item:hover {
  transform: scale(1.05);
}


.gallery {

  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;

}

.gallery .items {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.gallery .items img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 5px;
}




@media only screen and (max-width: 600px) {
  .gallery .items {
      flex: 100%;
      max-width: 100%;
  }

}
@media only screen and (min-width: 600px) {
  .gallery .items {
      flex: 50%;
      max-width: 50%;
  }
  .projects {
      grid-template-columns: 1fr 1fr;

  }

}
@media only screen and (min-width: 800px) {

  .gallery .items {
      flex: 25%;
      max-width: 25%;
  }
  

}
@media only screen and (min-width: 1300px) {

  .projects {
      grid-template-columns: 1fr 1fr 1fr;

  }
  

}
