* {
    margin: 0;
    padding: 0;
}
.link{
    mix-blend-mode: darken;
    color: #000000;
}
header{
    background-image: url(../images/projectbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
    /* display:grid; */
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 50px;
}
header .summary {
    max-width: 100%;
    text-align: center;
    margin: auto;
    color: #000;
    /* text-shadow: 0.3px 0.3px 40px #f00; */
    
    padding: 80px 66px;
    border-radius: 40px;
    box-shadow: 10px 5px 30px rgba(0,0,0,.3);
    backdrop-filter: blur(6px);
}
header .summary h1{
    font-size: 50px;
    text-decoration: overline #4400c9;
    mix-blend-mode: darken;
}
header .summary p{
    font-size: 20px;
    border-bottom:5px solid  #4400c9;
    font-weight: bold;
    padding-bottom: 40px;
}
.projects {
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;
}


section h2.head {
    margin: 20px 0px;
    border-left: 5px solid green;
    padding: 5px 10px;
}


.projects .item {
    border-radius: 14px;
    overflow: hidden;
    transition: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #5b5b5e;
    text-overflow: ellipsis;
}
.projects .item img{
    width: 100%;
    height: 200px;
}

.projects .item .content {
    padding: 8px 16px;
}

.projects .item .content h2 {
    padding: 0px;
    padding-bottom: 8px;
    margin: 0px;
    /* text-decoration: underline #4400c9; */
}

.projects .item .content .details {
    height: 7.7em;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.projects .item:hover {
    transform: scale(1.05);
}


.projects,
.item img {
    width: 100%;
    height: 40%;
}

@media only screen and (min-width: 600px) {
    header .summary{
        width: 60%;
    }
    .projects {
        grid-template-columns: 1fr 1fr;
    
    }

}
@media only screen and (min-width: 1300px) {
    .projects {
        grid-template-columns: 1fr 1fr 1fr;

    }

}
